<div class="appDIV">
    <h1 class="page-title" ><i class="iconfont">&#xe62e;</i>软件应用</h1>
    <div class="card">
        <div class="title">应用对应服务器台数</div>
        <div class="server_content">
            <div class="ftp server_div">
                <img class="server_div_img" src="../static/images/server/ftp.jpg" alt="FTP">
                <p class="server_num ftp_color"><span>3</span>台</p>
                <p class="server_info">FTP是文件传输协议，可以通过FTP应用实现文件的上传下载</p>
                <img class="server_div_subscript" src="../static/images/server/subscript.png" alt="subscript">

            </div>
            <div class="smtp server_div">
                <img class="server_div_img" src="../static/images/server/smtp.jpg" alt="smtp">
                <p class="server_num smtp_color"><span>3</span>台</p>
                <p class="server_info">FTP是文件传输协议，可以通过FTP应用实现文件的上传下载</p>
                <img class="server_div_subscript" src="../static/images/server/subscript.png" alt="subscript">

            </div>
            <div class="tomcat server_div">
                <img class="server_div_img" src="../static/images/server/tomcat.jpg" alt="FTP">
                <p class="server_num tomcat_color"><span>3</span>台</p>
                <p class="server_info">FTP是文件传输协议，可以通过FTP应用实现文件的上传下载</p>
                <img class="server_div_subscript" src="../static/images/server/subscript.png" alt="subscript">

            </div>
            <div class="weblogic server_div">
                <img class="server_div_img" src="../static/images/server/weblogic.jpg" alt="FTP">
                <p class="server_num weblogic_color"><span>3</span>台</p>
                <p class="server_info">FTP是文件传输协议，可以通过FTP应用实现文件的上传下载</p>
                <img class="server_div_subscript" src="../static/images/server/subscript.png" alt="subscript">

            </div>
            <div class="ssh server_div">
                <img class="server_div_img" src="../static/images/server/ssh.jpg" alt="FTP">
                <p class="server_num ssh_color"><span>3</span>台</p>
                <p class="server_info">FTP是文件传输协议，可以通过FTP应用实现文件的上传下载</p>
                <img class="server_div_subscript" src="../static/images/server/subscript.png" alt="subscript">

            </div>
            <div class="iis server_div">
                <img class="server_div_img" src="../static/images/server/iis.jpg" alt="FTP">
                <p class="server_num iis_color"><span>3</span>台</p>
                <p class="server_info">FTP是文件传输协议，可以通过FTP应用实现文件的上传下载</p>
                <img class="server_div_subscript" src="../static/images/server/subscript.png" alt="subscript">
            </div>
    </div>



        <div class="server_content_table">
            <div id="netconnecting_select_div"></div>

        </div>
    </div>
</div>