
<div class="col-sm-12 download-link">
<div class="col-sm-6 left-wrap" data-spm-anchor-id="5176.2020520154.sas.i15.4e312690QqjFMl">
<div class="windows-logo">
</div>
    <div class="windows-link">
        <h6 class="ng-binding">Windows 系统</h6>
        <p>Windows 2012</p>
        <p>Windows 2008</p>
        <p>Windows 2003</p>
    </div>
    <div class="col-md-12 dl-panel" data-spm-anchor-id="5176.2020520154.sas.i1.4e312690QqjFMl">
        <em class="icon-step-bg">1</em>
        <span class="ng-binding" data-spm-anchor-id="5176.2020520154.sas.i0.4e312690QqjFMl">下载并以管理员权限在您的云服务器上安装</span>
        &nbsp; <a aliyun-console-spm="115" target="_blank" ng-href="//help.aliyun.com/document_detail/68597.html" aqs-hide-link="hideAliyunHelpLink" class="ng-binding" data-spm-click="gostr=/aliyun;locaid=d115;;" href="" data-spm-anchor-id="5176.2020520154.sas.d115">了解更多</a>

        <p style="margin: 10px 0 15px 10px;" aqs-hide-link="hideAliyunHelpLink" data-spm-anchor-id="5176.2020520154.sas.i3.4e312690QqjFMl">
            <a aliyun-console-spm="116" class="btn btn-default dl-bg" href="{{ win32_download_url }}" data-spm-click="gostr=/aliyun;locaid=d116;;" data-spm-anchor-id="5176.2020520154.sas.d116">
                <span class="ng-binding">点击下载</span>
            </a>
        </p>
    </div>
    <!--div class="col-md-12 dl-panel" data-spm-anchor-id="5176.2020520154.sas.i4.4e312690QqjFMl">
        <em class="icon-step-bg">2</em>
        <span class="ng-binding" data-spm-anchor-id="5176.2020520154.sas.i2.4e312690QqjFMl">非阿里云服务器需输入以下安装验证key</span>
        <div class="aqs-auth-area">
            <span class="auth-key ng-binding">7u68L0</span>
            <button yd-copy-paste="" content="7u68L0" class="btn btn-primary ng-isolate-scope" style="margin-top: -4px; position: relative;">
                <div class="yd-copy-paste">
                    <div ng-transclude="">
                        <span class="ng-scope ng-binding">复制</span>
                    </div>
                </div>
            </button>
        </div>
    </div-->
</div>
    <div class="col-sm-6">
        <div class="linux-logo">

        </div>
        <div class="windows-link" style="padding-top:25px;">
            <h6 class="ng-binding">Linux 系统</h6>
            <p>CentOS: Versions 5,6 and 7 (32/64 bit)</p>
            <p>Ubuntu: 9.10 - 18.4 (32/64 bit)</p>
            <p>Debian: Versions 6,7,8,9 (32/64 bit)</p>
            <p>RHEL: Versions 5,6 and 7 (32/64 bit)</p>
            <p>Gentoo: (32/64 bit)</p>
            <p>OpenSUSE: (32/64 bit)</p>
            <p>SUSE: (32/64 bit)</p>
        </div>
        <div class="col-md-12 dl-panel" style="padding-right: 0;">
            <em class="icon-step-bg">1</em>
            <span class="ng-binding">在您的服务器中以管理员权限执行以下命令进行安装</span>&nbsp;
            <a aliyun-console-spm="113" target="_blank" aqs-hide-link="hideAliyunHelpLink" ng-href="//help.aliyun.com/document_detail/68597.html" class="ng-binding" data-spm-click="gostr=/aliyun;locaid=d113;;" href="" data-spm-anchor-id="5176.2020520154.sas.d113">了解更多</a>
            <!--div class="linux-chose">
                <div class="radio radio-inline">
                    <label class="ng-binding">
                        <input type="radio" name="linuxChoseServer" value="1" ng-model="linuxServer" class="ng-valid ng-dirty" data-spm-anchor-id="5176.2020520154.sas.i12.4e312690QqjFMl"> 阿里云服务器</label>
                </div>
                <div class="radio radio-inline" data-spm-anchor-id="5176.2020520154.sas.i13.4e312690QqjFMl">
                    <label class="ng-binding">
                        <input type="radio" name="linuxChoseServer" value="2" ng-model="linuxServer" class="ng-valid ng-dirty" data-spm-anchor-id="5176.2020520154.sas.i11.4e312690QqjFMl"> 非阿里云服务器</label>
                </div>
            </div-->
            <div class="linux-dl clearfix">
                <div class="linux-dl-label ng-binding">32位</div>
                <!-- ngIf: linuxServer==1 -->
                <div class="content breakall ng-scope ng-binding" ng-if="linuxServer==1">
                    wget "https://update3.aegis.aliyun.com/download/AliAqsInstall_32.sh" &amp;&amp; chmod +x AliAqsInstall_32.sh &amp;&amp; ./AliAqsInstall_32.sh 7u68L0</div>
                <!-- end ngIf: linuxServer==1 -->
                <!-- ngIf: linuxServer==1 -->
                <div class="btn-wrap ng-scope" ng-if="linuxServer==1">
                    <button yd-copy-paste="" content="wget &quot;https://update3.aegis.aliyun.com/download/AliAqsInstall_32.sh&quot; &amp;&amp; chmod +x AliAqsInstall_32.sh &amp;&amp; ./AliAqsInstall_32.sh 7u68L0" class="btn btn-primary pull-right ng-isolate-scope" style="position: relative;">
                        <div class="yd-copy-paste">
                            <div ng-transclude="">
                                <span class="ng-scope ng-binding">复制</span>
                            </div>
                        </div>
                    </button>
                </div>
                <!-- end ngIf: linuxServer==1 --><!-- ngIf: linuxServer==2 --><!-- ngIf: linuxServer==2 -->
            </div>
            <div class="linux-dl clearfix"><div class="linux-dl-label ng-binding">64位</div>
                <!-- ngIf: linuxServer==1 -->
                <div class="content breakall ng-scope ng-binding" ng-if="linuxServer==1">wget "https://update3.aegis.aliyun.com/download/AliAqsInstall_64.sh" &amp;&amp; chmod +x AliAqsInstall_64.sh &amp;&amp; ./AliAqsInstall_64.sh 7u68L0</div>
                <!-- end ngIf: linuxServer==1 -->
                <!-- ngIf: linuxServer==1 -->
                <div class="btn-wrap ng-scope" ng-if="linuxServer==1">
                    <button yd-copy-paste="" content="wget &quot;https://update3.aegis.aliyun.com/download/AliAqsInstall_64.sh&quot; &amp;&amp; chmod +x AliAqsInstall_64.sh &amp;&amp; ./AliAqsInstall_64.sh 7u68L0" class="btn btn-primary pull-right ng-isolate-scope" style="position: relative;">
                        <div class="yd-copy-paste">
                            <div ng-transclude="">
                                <span class="ng-scope ng-binding">复制</span>
                            </div>
                        </div>
                    </button>
                </div>
                <!-- end ngIf: linuxServer==1 -->
                <!-- ngIf: linuxServer==2 -->
                <!-- ngIf: linuxServer==2 -->
            </div>
        </div>
    </div>
</div>
</div>
