<!DOCTYPE html>
<html lang="en">

<head>
    <title>网站综合防御平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/css/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/plugins/charts-c3/plugin.css" rel="stylesheet">
    <link href="/static/css/plugins/jquery-ui.css" rel="stylesheet">

{#    <link href=/static/css/orl/app.f0ed56399b7c53536fe0a115734a4d50.css rel=stylesheet>#}
{#    <link href=/static/css/orl/app-b16f1d665ca03251b414.css rel=stylesheet>#}
    <link href="/static/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href=/static/css/main.css rel=stylesheet>
    <link href=/static/css/time/daterangepicker.css rel=stylesheet>
    <script src="/static/js/plugins/jquery-3.2.1.min.js"></script>
    <script src="/static/js/plugins/base64.js"></script>
<!--    <script src="/static/js/plugins/echarts.common.min.js"></script>-->
    <script src="/static/js/plugins/html2canvas.min.js"></script>
    <script src="/static/js/plugins/jsPdf.debug.js"></script>
{#    <script src="/static/js/orl/manifest.2ae2e69a05c33dfc65f8.js"></script>#}
{#    <script src="/static/js/orl/vendor.4b92a4793e5e56db432c.js"></script>#}
{#    <script src="/static/js/orl/app.f73cd6dc69f535a33ae7.js"></script>#}
    <script src="/static/js/plugins/bootstrap.min.js"></script>
    <script src="/static/js/time/moment.js"></script>
    <script src="/static/js/time/daterangepicker.js"></script>
    <script src="/static/js/plugins/echarts.js"></script>
    <script src="/static/js/map/china.js"></script>
    <script src="/static/js/map/world.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/overview.js"></script>
    <script src="/static/js/attack.js"></script>
{#    <script src="/static/js/agent.js"></script>#}
    <script src="/static/js/server.js"></script>
    <script src="/static/js/website.js"></script>
    <script src="/static/js/user.js"></script>
    <script src="/static/js/netconnecting.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/countreport.js"></script>
    <script src="/static/js/download.js"></script>
<style>

</style>
{#    <script src="/static/js/plugins/jquery-ui.js"></script>#}
</head>
<body >

<div id="main" >
    <div class = "s-side-scrollhidden">
        <div class="s-side side_open tran">
        <div class="logodiv dip-inbl tran">
        </div>
        <ul class="nano-content">
            <li class="s-firstItem">
                <div class="d-firstNav s-firstNav">
                    <a href="javascript:void(0)" class="nav-link active" data-value="overview">
                        <i class="iconfont">&#xe7b7;</i>
                        <span>&nbsp;&nbsp;安全总览</span>
                    </a>
                </div>
            </li>
            <li class="s-firstItem">
                <div  class="d-firstNav s-firstNav">
                    <a href="javascript:void(0)" class="nav-link" data-value="attack">
                        <i class="iconfont">&#xe73b;</i>
                        <span>&nbsp;&nbsp;攻击事件</span>
                    </a>
                </div>
            </li>
            <li class="s-firstItem">
                <div class="d-firstNav s-firstNav">
                    <a href="javascript:void(0)" class="nav-link" data-value="agent">
                        <i class="iconfont">&#xe88b;</i>
                        <span>&nbsp;&nbsp;探针管理
                            <i class="iconfont slide_mark slide_down">&#xe64a;</i></span>
                    </a>
                </div>
                <ul class="d-firstDrop s-firstDrop">
                    <li>
                        <div class="d-secondNav s-secondNav">

                            <a href="javascript:void(0)" data-value="server" class="nav-link-sec"><i class="iconfont">&#xe602;</i>服务器管理</a>
                        </div>
{#                        <ul class="d-secondDrop s-secondDrop">#}
{#                            <li class="s-thirdItem">#}
{#                                <div>#}
{#                                    <a href="#"  class="nav-link-thd">未分组</a>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
                    </li>
                    <li>
                        <div class="d-secondNav s-secondNav">
                            <a href="javascript:void(0)" data-value="website" class="nav-link-sec"><i class="iconfont">&#xe602;</i>网站管理</a>
                        </div>
{#                        <ul class="d-secondDrop s-secondDrop">#}
{#                            <li class="s-thirdItem">#}
{#                                <div>#}
{#                                    <a href="#"  class="nav-link-thd">未分组</a></div>#}
{#                            </li>#}
{#                        </ul>#}
                    </li>
                </ul>
            </li>
            <!--li  class="s-firstItem">
                <div class="d-firstNav s-firstNav">
                    <a href="javascript:void(0)" class="nav-link" data-value="countDiv" target="_blank">
                        <i class="iconfont">&#xe604;</i>
                        <span>&nbsp;&nbsp;统计信息</span>
                    </a>
                </div>
            </li-->
            <li  class="s-firstItem">
                <div  class="d-firstNav s-firstNav">
                    <a href="javascript:void(0)" class="nav-link" data-value="user">
                        <i class="iconfont">&#xe650;</i>
                        <span>&nbsp;&nbsp;用户管理</span>
                    </a>
                </div>
            </li>
            <li  class="s-firstItem">
                <div  class="d-firstNav s-firstNav">
                    <a href="javascript:void(0)" class="nav-link" data-value="download">
                        <i class="iconfont">&#xeb12;</i>
                        <span>&nbsp;&nbsp;探针下载</span>
                    </a>
                </div>
            </li>
            <li class="s-firstItem">
                <div class="s-firstNav d-firstNav">
                    <a href="javascript:void(0)" class="nav-link" data-value="asset">
                        <i class="iconfont">&#xe88b;</i>
                        <span>&nbsp;&nbsp;资产清点
                            <i class="iconfont slide_mark slide_down">&#xe64a;</i></span>
                    </a>
                </div>
                <ul class="d-firstDrop s-firstDrop">
                    <li>
                        <div class="d-secondNav s-secondNav">
                            <a href="javascript:void(0)" data-value="netconnecting" class="nav-link-sec"><i class="iconfont">&#xe602;</i>网络连接资产</a>
                        </div>
                    </li>
                    <li>
                        <div class="d-secondNav s-secondNav">
                            <a href="javascript:void(0)" data-value="app" class="nav-link-sec"><i class="iconfont">&#xe602;</i>软件应用</a>
                        </div>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    </div>
   <div id="main_right">
        <div class='header-top'>
                <div class="menu_button"><i class="iconfont">&#xe666;</i></div>
                <div class="dip-inbl headertop-right">
                    <div class="top-info-wrap">
                        <ul class="top-info-list clearfix">
                            <li>欢迎：{{ login_username }}</li>
                            <li><a title="退出" href="/logout"><i class="iconfont" >&#xeb13;</i><span class="" style="font-size:14px;">&nbsp;退出</span></a></li>

                        </ul>
                    </div>
                </div>
        </div>
        <div class="setup" >
            <div>
            <div class="container1" id="div_container">
                </div>
            <footer class="footer">
                <div class="container">
                    <div class="align-items-center flex-row-reverse">
                        <div class="col-auto ml-lg-auto">
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                            Copyright © 2019
                            <a href="http://www.365sec.com/" target="_blank">江苏国瑞信安科技有限公司</a>
                        </div>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    </div>
</div>

<div id="model_div"></div>
<div id="agent_model_div"></div>
<div class="shade" style="visibility: hidden;">
    <div class="layout" style="visibility: hidden; animation: action_scale 0.3s ease 0s 1 normal forwards running;">

    </div>
</div>

</body>

<script>
    window.onload = overview_click;

    //设置弹框动画 start
    var boo = 0;
    var canUse = document.getElementsByTagName("body")[0].style;
    if (typeof canUse.animation != "undefined" || typeof canUse.WebkitAnimation != "undefined") {
        boo = 1;
        /*支持动画*/
    } else {
        boo = 0;
        /*不支持动画*/
    }
    ;
    function actionIn(obj, actionName, time, speed) {
        $(obj).css({
            visibility: "visible"
        });
        if (boo == 1) $(obj).css({
            "animation": actionName + " " + time + "s" + " " + speed,
            "animation-fill-mode": "forwards"
        });
    };
    //设置弹框动画 end

</script>
</html>