<!DOCTYPE html>
<html lang="en">

<head>
    <title>网站自适应防御平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/css/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/plugins/charts-c3/plugin.css" rel="stylesheet">
    <link href=/static/css/orl/app.f0ed56399b7c53536fe0a115734a4d50.css rel=stylesheet>
    <link href=/static/css/orl/app-b16f1d665ca03251b414.css rel=stylesheet>
    <link href=/static/css/main.css rel=stylesheet>
    <link href=/static/css/time/daterangepicker.css rel=stylesheet>
    <script src="/static/js/plugins/jquery-3.2.1.min.js"></script>
    <script src="/static/js/plugins/base64.js"></script>
    <script src="/static/js/plugins/echarts.common.min.js"></script>
    <script src="/static/js/plugins/html2canvas.min.js"></script>
    <script src="/static/js/plugins/jsPdf.debug.js"></script>
    <script src="/static/js/orl/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script src="/static/js/orl/vendor.4b92a4793e5e56db432c.js"></script>
    <script src="/static/js/orl/app.f73cd6dc69f535a33ae7.js"></script>
    <script src="/static/js/time/bootstrap.js"></script>
    <script src="/static/js/time/moment.js"></script>
    <script src="/static/js/time/daterangepicker.js"></script>
    <script src="/static/js/plugins/echarts.js"></script>
    <script src="/static/js/map/china.js"></script>
    <script src="/static/js/map/world.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/overview.js"></script>
    <script src="/static/js/attack.js"></script>
    <script src="/static/js/agent.js"></script>
    <script src="/static/js/countreport.js"></script>
    <script src="/static/js/download.js"></script>
</head>

<body >

<div id="main" >
    <div style="min-height: calc(100vh);position: relative;">
        <div class='header-top'>
            <div>
                <div class="logodiv dip-inbl">
                    <img width="130" height="40" src="/static/img/LOGO.png">
                </div>
                <div id="headerMenuCollapse" class="header dip-inbl">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg order-lg-first">
                                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                    <li class="nav-item">
                                        <a href="javascript:void(0)" class="nav-link active" data-value="overview">
                                            <i class="iconfont">&#xe7b7;</i>安全总览
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0)" class="nav-link" data-value="attack">
                                            <i class="iconfont">&#xe73b;</i>攻击事件</a>
                                    </li>
                                    {#										<li class="nav-item dropdown">#}
                                    {#											<a href="http://127.0.0.1:8000/#" class="nav-link"><i class="fe fe-check-square"></i>安全基线</a>#}
                                    {#										</li>#}
                                    <li class="nav-item">
                                        <a href="javascript:void(0)" class="nav-link" data-value="agent">
                                            <i class="iconfont">&#xe88b;</i>探针管理</a>
                                    </li>
                                    {#										<li class="nav-item">#}
                                    {#											<a href="http://127.0.0.1:8000/#" class="nav-link"><i class="fe fe-zap"></i>插件管理</a>#}
                                    {#										</li>#}

                                    <li class="nav-item">
                                        <a href="javascript:void(0)" class="nav-link" data-value="countDiv">
                                            <i class="iconfont">&#xeb12;</i>统计信息</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0)" class="nav-link" data-value="download">
                                            <i class="iconfont">&#xeb12;</i>探针下载</a>
                                    </li>
                                    {#										<li class="nav-item">#}
                                    {#											<a href="http://127.0.0.1:8000/#" class="nav-link"><i class="fe fe-user-check"></i>操作审计</a>#}
                                    {#										</li>#}
                                    {#										<li class="nav-item dropdown">#}
                                    {#											<a href="http://127.0.0.1:8000/#" class="nav-link"><i class="fe fe-settings"></i>系统设置</a>#}
                                    {#										</li>#}
                                    <!--li class="nav-item"><a href="https://rasp.baidu.com/doc" target="_blank" class="nav-link"><i class="fe fe-file-text"></i>帮助文档</a></li-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header dip-inbl headertop-right">
                    <div class="top-info-wrap">
                        <ul class="top-info-list clearfix">
                        <li>欢迎：{{ login_username }}</li>
                        <li><a title="退出" href="/logout"><i class="iconfont" title="退出登录">&#xeb13;</i></a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="setup" >
            <div class="container1" id="div_container" style = "background: #fff;">
                </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019
                        <a href="http://www.365sec.com/" target="_blank">江苏国瑞信安科技有限公司</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<div id="model_div"></div>
<div id="agent_model_div"></div>
<div class="shade" style="visibility: hidden;">
    <div class="layout" style="visibility: hidden; animation: action_scale 0.3s ease 0s 1 normal forwards running;">
        <div class="layout-title">备注信息：</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <form action="post">
            <div id="remarkid">Agent ID <span style="color:#F00" id="agent-id">{{ agent_id }}</span></div>
            <br/>
            <div contenteditable="true" id="remarkmsg"></div>
            <div class='layout-btn'>
                <div class="btn layout-close" onclick="formSubmit()">保存</div>
                <div class="btn layout-close" onclick="javascript:void(0)">关闭</div>
            </div>
        </form>
    </div>
</div>
</body>

<script>
    window.onload = overview_click;

    //设置弹框动画 start
    var boo = 0;
    var canUse = document.getElementsByTagName("body")[0].style;
    if (typeof canUse.animation != "undefined" || typeof canUse.WebkitAnimation != "undefined") {
        boo = 1;
        /*支持动画*/
    } else {
        boo = 0;
        /*不支持动画*/
    }
    ;
    function actionIn(obj, actionName, time, speed) {
        $(obj).css({
            visibility: "visible"
        });
        if (boo == 1) $(obj).css({
            "animation": actionName + " " + time + "s" + " " + speed,
            "animation-fill-mode": "forwards"
        });
    };
    //设置弹框动画 end

</script>
</html>