<div class="manageDiv">
    <div class = "card">

    </div>
</div>
<div class="promptBox">
    <table id="promotionTable" class="table server_detail_table" style="margin-top:10px;">

        <tbody>
        <tr>
            <td class="text-muted">CPU使用率：</td>
            <td id="server_cpu_used" ></td>
        </tr>
        <tr>
            <td class="text-muted">内存使用率：</td>
            <td id="server_memory_used" ></td>
        </tr>
        <tr>
            <td class="text-muted">硬盘使用率：</td>
            <td id="server_disk_used" ></td>
        </tr>
        <tr>
            <td class="text-muted">详情：</td>
            <td id="assets_detail" ><a href="#asset_detail_show">详情</a></td>
        </tr>

        </tbody>
    </table>
</div>