<div class="netconnectingDIV">
    <h1 class="page-title" ><i class="iconfont">&#xe62e;</i>网络连接资产</h1>
    <div class="card">
        <div class="server_content">
            <div id="netconnecting_select_div"></div>
            <table id="netconnecting_table" class="table table-bordered table-striped table-hover table_fixed">
                <thead>
                <tr>
                    <th width="16%">服务器名</th>
                    <th width="12%">本地地址</th>
                    <th width="8%">本地端口</th>
                    <th width="12%">远程地址</th>
                    <th width="8%">远程端口</th>
                    <th width="12%">远程地理位置</th>
                    <th width="8%">协议类型</th>
                    <th width="8%">进程名</th>
                    <th width="8%">进程ID</th>
                    <th width="18%">进程路径</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="paging"></div>
        </div>
    </div>
</div>