<div class="portDiv">
    <h1 class="page-title" ><i class="iconfont">&#xe62e;</i>进程资产</h1>
    <div class="card">
        <div class="server_content">
            <div id="port_select_div"></div>
            <table id="port_table" class="table table-bordered table-striped table-hover table_fixed" >
                <thead>
                <tr>
                    <th>主机</th>
                    <th>本地地址</th>
                    <th>本地端口</th>
                    <th>协议类型</th>
                    <th>进程ID</th>
                    <th width="15%">进程名</th>
                    <th width="25%">进程路径</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="paging"></div>
        </div>
    </div>
</div>
