<div class="processDiv">
    <h1 class="page-title" ><i class="iconfont">&#xe62e;</i>进程资产</h1>
    <div class="card">
        <div class="server_content">
            <div id="process_select_div"></div>
            <table id="process_table" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>主机</th>

                    <th>进程名</th>
                    <th>进程ID</th>

                    <th>进程路径</th>
                    <th>启动命令</th>
                    <th>用户</th>
                    <th>权限</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="page"></div>
        </div>
    </div>
</div>
