<style>
    .pagination{
        text-align: right;
    }
</style>
<div class="processDiv">
    <h1 class="page-title" ><i class="iconfont">&#xe62e;</i>进程资产</h1>
    <div class="portDiv_chart h350">
        <div class="content h100" style="margin-right: 24px">
            <div class="title">
                <i class="iconfont"></i>
                <span class="special">探针进程统计</span>
            </div>
            <div id="agent_process_num_div" class="chart-con">
            </div>
        </div>
        <div class="content h100">
            <div class="title">
                <i class="iconfont"></i>
                <span class="special">进程统计</span>
            </div>
            <div id="process_num_div" class="chart-con"></div>
        </div>
    </div>
    <div class="card">
        <div class="server_content card-body">
            <div id="process_select_div"></div>
            <table id="process_table" class="table table-bordered table-slide">
                <tbody></tbody>
            </table>
            <div class="paging"></div>
        </div>
    </div>
</div>
